@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .goggle-font{
        font-family: "Montserrat", sans-serif;
    }

    .text-font{
        font-size: 10px;
    }

    .background{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }

    .library-bg{
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,78,1) 77%, rgba(0,212,255,1) 100%);
    }
}